.Button {
    margin: 0;
    display: inline-block;
    width: 150px;
    height: 150px;
    background: rgb(238, 238, 238);
    border-radius: 90px;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    transition: .2s linear;
}

.Button:focus {
    outline: none;
}

 .Button:active {
    box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.Button:disabled {
    cursor: not-allowed;
}

.paper {
    border: 15px solid rgb(89, 113, 249);
    box-shadow: inset 1px 6px 1px rgba(0, 0, 0, 0.2), 1px 6px 1px rgba(41, 69, 192, 1);
  }
  
.scissors {
    border: 15px solid rgb(236, 168, 31);
    box-shadow: inset 1px 6px 1px rgba(0, 0, 0, 0.2), 1px 6px 1px rgba(199, 108, 27, 1);
  }
  
.rock {
    border: 15px solid rgb(223, 64, 94);
    box-shadow: inset 1px 6px 1px rgba(0, 0, 0, 0.2), 1px 6px 1px rgba(161, 23, 56, 1);
  }